@import "tailwindcss";

:root {
  font-family: "Poppins", sans-serif;

  --color-primary: #3f489c;
  --color-secondary: #2b26ad;

  --topLayout-width: clamp(18rem, 42vw, 24rem);
  --bottomLayout-width: clamp(18rem, 42vw, 24rem);

  --board-size: clamp(18rem, 42vw, 24rem);
  --history-width: clamp(18rem, 42vw, 24rem);

  --scrollbar-size: 6px;
  --scrollbar-thumb: #5a67db;
  --scrollbar-track: transparent;
}

.custom-scrollbar {
  overflow-y: scroll;
  cursor: pointer;
}

/* Chrome / Edge / Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: var(--scrollbar-size);
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: var(--scrollbar-radius);
}
